/* BODY CONTENT CSS */

/**** Blue Cover Banner ****/

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.banner {
  margin-top: 6rem;
  background-image: url("../img/bannerBlueCover.png");
  background-size: cover;
  color: white;
}

.banner h1 {
  text-align: center;
  padding-top: 7rem;
  font-weight: bolder;
}

.banner p {
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 0rem;
}

.banner span {
  color: rgba(243, 184, 67, 1);
}
/***** aboutHash *****/

#aboutHash.panel {
  padding-top: 4rem;
  background-color: #f3f9fe;
}

#aboutHash > .container {
  padding: 0rem, 5rem, 0, 5rem;
}

#aboutHash.panel h1 {
  text-align: center;
  color: #000032;
  padding-bottom: 2.5rem;
  font-weight: bolder;
}

#aboutHash.panel p {
  text-align: center;
  color: #696969;
  padding-bottom: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

#aboutHash span {
  color: rgba(243, 184, 67, 1);
}

/***** EXPLORE MORE *****/

#exploreMore.panel {
  padding-top: 4rem;
}

#exploreMore.panel h1 {
  text-align: left;
  color: #000032;
  padding-bottom: 2.5rem;
  font-weight: bold;
}

#exploreMore.panel p {
  text-align: left;
  color: #696969;
  padding-bottom: 4rem;
}

#exploreMore span {
  color: rgba(243, 184, 67, 1);
}

/**** missionVision ****/

#missionVision.panel {
  padding-top: 4rem;
}

#missionVision > .container {
  padding-left: 2rem;
  padding-right: 2rem;
}

#missionVision.panel h1 {
  text-align: center;
  color: #000032;
  padding-bottom: 2.5rem;
  font-weight: bold;
}

#missionVision.panel p {
  text-align: center;
  color: #696969;
  padding-bottom: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

#missionVision span {
  color: rgba(243, 184, 67, 1);
}

/**** ourApproach ****/

#ourApproach.panel {
  padding-top: 4rem;
  background-color: #5091b9;
}

#ourApproach.panel h1 {
  text-align: left;
  color: white;
  margin-bottom: 2.5rem;
  font-weight: bold;
}

#ourApproach.panel span {
  border-color: white;
  border-bottom-style: solid;
  padding-bottom: 0.5rem;
  border-width: 0.4rem;
  color: rgba(243, 184, 67, 1);
}

#ourApproach.panel p {
  text-align: left;
  color: white;
  padding-bottom: 10rem;
  padding-top: 1rem;
}

#ourApproach.panel img {
  padding-top: 3rem;
}

/* #footer.panel {
  padding-top: 4rem;
  background-color: #000032;
  padding-right: 4rem;
  border: 5rem;
  border-color: red;
}

#footer.panel p {
  color: white;
}

#footer.panel a {
  color: white;
}

#footer.panel span {
  font-weight: bold;
  line-height: 6.5rem;
}

#footer.panel hr {
  height: 5px;
  background-color: white;
}
 */

#mainMenu {
  background-color: transparent;
}
#mainMenu ul li a {
  color: white;
}

#mainMenu ul li:hover a,
#mainMenu ul li.show a,
#mainMenu ul li.active a {
  font-weight: bold;
  text-decoration: none;
  border-color: white;
}

/* ********************* */
/**** CONTACT_US css ****/
/* ********************* */

#contactUs.container {
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.first {
  background-color: white; /* #eed5b7; */
}

.first h1 {
  padding-top: 3rem;
  color: #000032;
  /*  color: #8b8989; */
  padding-bottom: 1rem;
  padding-left: 4rem;
  font-weight: bold;
}

.first p {
  color: #696969;

  padding-left: 4rem;
  padding-right: 4rem;

  font-size: 1rem;
}

.head {
  color: orange;
}

.mail {
  font-size: 0.8rem;
  font-weight: bold;
}

.first a {
  font-weight: bold;
  color: #000032;
}

.first a:hover {
  color: orange;
}

.first i {
  font-weight: bold;
  color: #000032;
  font-size: 2rem;
  padding-left: 3.45rem;
}

.first i:hover {
  color: orange;
}

.second {
  background-color: white; /* #faebd7; */

  margin-top: 12rem;
  padding-bottom: 4rem;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 80%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Reviewers Profile */

/* profile card css */

#profile.container {
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

#profile.container > .row {
  margin-left: 1.5rem;
  margin-right: 1rem;
  margin-top: 6rem;
}
.third {
  margin: 0;
  padding: 0;
}

.fourth {
  margin: 0;
  padding: 0;
  border: 1px solid #ececec;
  text-align: center;
  color: #696969;
}

.blue h3 {
  margin-top: 2rem;
  color: #000032;
  font-weight: bold;
}

.rating h4 {
  margin-left: 0.5rem;
  display: inline-block;
  padding-bottom: 0.3rem;
}

.fourth h4 {
  font-size: 1.25rem;
}

.fourth hr {
  width: 70%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.fourth p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.peopleRate h4 {
  margin-bottom: 3rem;
}

/* profileBio Css */

#profileBio h4 {
  font-size: 1.25rem;
}

#profileBio.panel {
  margin-left: 1.5rem;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  padding: 0;
  color: #000032;
}

.orange {
  color: rgba(243, 184, 67, 1);
}

#profileBio h3 {
  margin-bottom: 2rem;
}

#profileBio p {
  color: #696969;
  font-size: 1rem;
}

#profileBio hr {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* .card_one > .container {
  border: 2px solid black;
  border-radius: 1rem;
} */

#itemCard > .row {
  border: 2px solid black;
  border-radius: 1rem;
}

.imgCard {
  background-color: aqua;
  /* align-content: center; */
}

.contentCard {
  padding-left: 2rem;
}

span.rating .reviews li img{
  margin: .1rem;
  height:20px;
  width: 20px;
}
h4.ratingText{
 font-size: 1.1rem;
}
/*comment card*/
.reviewer-comment-card>*:not(:last-child){
 margin-bottom: 2rem;
}
.profile-comment-image img {
  width: auto;
  margin: auto;
  max-width: 100px;
  max-height: 100%;
}
.details{
  padding-left:2rem;
}
.morecontent span {
  display: none;
}
.more{
  color: #696969;
}
.morelink {
  display: block;
}
a.morelink{
  padding-top:2rem;
  color: #696969;
}
.comment-card-product-name h4{
  font-weight: 1000;
  color: #009dff;
}
.see-more-text{
  color: #696969;
}
.reviewer-comment-card div .post{
  transition: all 0.5s;
  cursor: pointer;
}
.reviewer-comment-card div .post:hover{
  background-color: #f3f9fe;
  border-color: #6473a0;
}