/* BODY CONTENT CSS */

/**** Blue Cover Banner ****/

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.banner {
  margin-top: 6rem;
  background-image: url("../img/bannerBlueCover.png");
  background-size: cover;
  color: white;
}

.banner h1 {
  text-align: center;
  padding-top: 7rem;
  font-weight: bolder;
}

.banner p {
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 0rem;
}

.color-orange {
  color: rgb(255, 187, 0);
}

.banner span {
  color: rgba(243, 184, 67, 1);
}

/***** aboutHash *****/

#aboutHash.panel {
  padding-top: 4rem;
  background-color: #f3f9fe;
}

#aboutHash>.container {
  padding: 0rem, 5rem, 0, 5rem;
}

#aboutHash.panel h1 {
  text-align: center;
  color: #000032;
  padding-bottom: 2.5rem;
  font-weight: bolder;
}

#aboutHash.panel p {
  text-align: center;
  color: #696969;
  padding-bottom: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

#aboutHash span {
  color: rgba(243, 184, 67, 1);
}

/***** EXPLORE MORE *****/

#exploreMore.panel {
  padding-top: 4rem;
}

#exploreMore.panel h1 {
  text-align: left;
  color: #000032;
  padding-bottom: 2.5rem;
  font-weight: bold;
}

#exploreMore.panel p {
  text-align: left;
  color: #696969;
  padding-bottom: 4rem;
}

#exploreMore span {
  color: rgba(243, 184, 67, 1);
}

/**** missionVision ****/

#missionVision.panel {
  padding-top: 4rem;
}

#missionVision>.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

#missionVision.panel h1 {
  text-align: center;
  color: #000032;
  padding-bottom: 2.5rem;
  font-weight: bold;
}

#missionVision.panel p {
  text-align: center;
  color: #696969;
  padding-bottom: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

#missionVision span {
  color: rgba(243, 184, 67, 1);
}

/**** ourApproach ****/

#ourApproach.panel {
  padding-top: 4rem;
  background-color: #5091b9;
}

#ourApproach.panel h1 {
  text-align: left;
  color: white;
  margin-bottom: 2.5rem;
  font-weight: bold;
}

#ourApproach.panel span {
  border-color: white;
  border-bottom-style: solid;
  padding-bottom: 0.5rem;
  border-width: 0.4rem;
  color: rgba(243, 184, 67, 1);
}

#ourApproach.panel p {
  text-align: left;
  color: white;
  padding-bottom: 10rem;
  padding-top: 1rem;
}

#ourApproach.panel img {
  padding-top: 3rem;
}

/* #footer.panel {
  padding-top: 4rem;
  background-color: #000032;
  padding-right: 4rem;
  border: 5rem;
  border-color: red;
}

#footer.panel p {
  color: white;
}

#footer.panel a {
  color: white;
}

#footer.panel span {
  font-weight: bold;
  line-height: 6.5rem;
}

#footer.panel hr {
  height: 5px;
  background-color: white;
}
 */

#mainMenu {
  background-color: transparent;
}

#mainMenu ul li a {
  color: white;
}

#mainMenu ul li:hover a,
#mainMenu ul li.show a,
#mainMenu ul li.active a {
  font-weight: bold;
  text-decoration: none;
  border-color: white;
}

/* ********************* */
/**** CONTACT_US css ****/
/* ********************* */

#contactUs.container {
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.first {
  background-color: white;
  /* #eed5b7; */
}

.first h1 {
  padding-top: 3rem;
  color: #000032;
  /*  color: #8b8989; */
  padding-bottom: 1rem;
  padding-left: 4rem;
  font-weight: bold;
}

.first p {
  color: #696969;

  padding-left: 4rem;
  padding-right: 4rem;

  font-size: 1rem;
}

.head {
  color: orange;
}

.mail {
  font-size: 0.8rem;
  font-weight: bold;
}

.first a {
  font-weight: bold;
  color: #000032;
}

.first a:hover {
  color: orange;
}

.first i {
  font-weight: bold;
  color: #000032;
  font-size: 2rem;
  padding-left: 3.45rem;
}

.first i:hover {
  color: orange;
}

.second {
  background-color: white;
  /* #faebd7; */

  margin-top: 12rem;
  padding-bottom: 4rem;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 80%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Reviewers Profile */

/* profile card css */

#profile.container {
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

#profile.container>.row {
  margin-left: 1.5rem;
  margin-right: 1rem;
  margin-top: 6rem;
}

.third {
  margin: 0;
  padding: 0;
}

.fourth {
  margin: 0;
  padding: 0;
  border: 1px solid #ececec;
  text-align: center;
  color: #696969;
}

.blue h3 {
  margin-top: 2rem;
  color: #000032;
  font-weight: bold;
}

.rating h4 {
  margin-left: 0.5rem;
  display: inline-block;
  padding-bottom: 0.3rem;
}

.fourth h4 {
  font-size: 1.25rem;
}

.fourth hr {
  width: 70%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.fourth p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.peopleRate h4 {
  margin-bottom: 3rem;
}

/* profileBio Css */

#profileBio h4 {
  font-size: 1.25rem;
}

#profileBio.panel {
  margin-left: 1.5rem;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  padding: 0;
  color: #000032;
}

.orange {
  color: rgba(243, 184, 67, 1);
}

#profileBio h3 {
  margin-bottom: 2rem;
}

#profileBio p {
  color: #696969;
  font-size: 1rem;
}

#profileBio hr {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#profile div .third img {
  width: 100%;
  max-height: 30rem;
}

/* .card_one > .container {
  border: 2px solid black;
  border-radius: 1rem;
} */

#itemCard>.row {
  border: 2px solid black;
  border-radius: 1rem;
}

.imgCard {
  background-color: aqua;
  /* align-content: center; */
}

.contentCard {
  padding-left: 2rem;
}

span.rating .reviews li img {
  transform: scale(1.5);
  margin: 0.3rem;
}

h4.ratingText {
  font-size: 1.1rem;
}

/*comment card*/
.reviewer-comment-card>*:not(:last-child) {
  margin-bottom: 2rem;
}

.reviewer-comment-card>*:last-child {
  margin-bottom: 1rem;
}

.profile-comment-image img {
  width: auto;
  margin: auto;
  max-width: 100px;
  max-height: 100%;
}

.reviewer-comment-card div .post div .details {
  padding-left: 2rem;
}

.morecontent span {
  display: none;
}

.more {
  color: #696969;
}

.morelink {
  display: block;
}

a.morelink {
  padding-top: 2rem;
  color: #696969;
}

.comment-card-product-name h4 {
  font-weight: 1000;
  color: #009dff;
}

.see-more-text a {
  padding-top: 1rem;
  color: #696969;
}

.reviewer-comment-card div .post {
  transition: all 0.5s;
}

.reviewer-comment-card div .post:hover {
  background-color: #f3f9fe;
  border-color: #6473a0;
}

/* Important part */
#myModal.modal {
  padding-right: 0 !important;
}

.fade {
  z-index: 999999;
}

.modal.show.fade {
  z-index: 9999999;
}

.modal-dialog {
  overflow-y: initial !important;
}

.modal-body {
  max-height: calc(100vh - 25rem);
}

#modal-reviewer-comment {
  max-height: calc(100vh - 30rem);
  overflow: auto;
}

body.modal-open {
  overflow: inherit;
  padding-right: 0 !important;
}

/* modal customizing */
.modal-header {
  border: 0;
  padding: 0;
}

.modal-header button.close {
  padding: 0.5rem;
  margin: 0;
  margin-right: 1rem;
  font-weight: 1000;
}

.modal-header .close i.icofont-close {
  font-size: 1.5rem;
  font-weight: 1000;
}

.modal-footer {
  border: 0;
}

/* modal footer h5 */
.modal-footer .d-flex {
  width: 100%;
}

.modal-footer .d-flex>h5 {
  position: relative;

  color: #555454;
  padding: 0.5rem;
}

.modal-footer .d-flex>span {
  color: #696969;
}

.modal-body {
  padding-top: 0;
}

.modal-body .reviewer-profile div>img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
}

.modal-profile-rating p.ratingText {
  margin-left: 0.6rem;
}

.modal-content {
  border: 0;
  border-radius: 0;
}

.modal-super-reviewer-name {
  color: #000032;
  font-size: 1.2rem;
  text-shadow: 1px 0 #000032;
  font-weight: 870;
}

/* stars */

fieldset,
label {
  margin: 0;
  padding: 0;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating>input {
  display: none;
}

.rating>label:before {
  margin: 5px;
  font-size: 1.5em;
  font-family: "Font Awesome 5 Free";
  font-weight: bolder;
  display: inline-block;
  content: "\f005";
}

.rating>.half:before {
  content: "\f089";
  position: absolute;
}

.rating>label {
  color: #ddd;
  float: right;
}

.rating>input:checked~label,
/* show gold star when clicked */
.rating:not(:checked)>label:hover,
/* hover current star */
.rating:not(:checked)>label:hover~label {
  color: rgba(243, 184, 67, 1);
}

/* hover previous stars in list */

.rating>input:checked+label:hover,
/* hover current star when changing rating */
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
/* lighten current selection */
.rating>input:checked~label:hover~label {
  color: rgba(243, 184, 67, 1);
}

.modal-product-slider .post {
  height: auto;
  width: 11rem;
  border: 0.5px solid #b8b6b6;
  box-shadow: none;
  border-radius: 5px;
  margin: auto;
}

.modal-product-slider .post .feature-image {
  width: 100%;
  height: 120px;
}

.modal-product-slider .post .feature-image img {
  width: auto;
  margin: auto;
  max-width: 70%;
  max-height: 100%;
}

.owl-carousel.modal-product-slider .owl-nav {
  text-align: center;
  font-size: 1.5rem;
  color: #696969;
}

.modal-super-reviewer-full-comment h3 {
  font-style: italic;
}

.edit_profile_button button.btn {
  position: absolute;
  z-index: 1;
  background: #000032;
  outline: 0;
  border: none;
  border-radius: 0;
}

.edit_profile_button button.btn:focus {
  box-shadow: none;
}

.modal-content#edit_profile_modal_content {
  padding: .2rem;
}

.modal-body#edit_profile_body {
  border-bottom: 1px solid rgb(226, 222, 222);
  overflow: auto !important;
}

.modal-body#edit_profile_body div>* {
  padding-top: .1rem;
}

.modal-body#edit_profile_body .d-flex .edit_profile_picture {
  padding-bottom: 1rem;
}

.edit_profile>* {
  padding: .7rem;
}


#edit_profile_modal_content .modal-footer {}

.edit_profile_form .form-group {
  width: 30rem;
  max-width: 100%;
}

.edit_profile_form .form-group textarea.form-control {
  width: 100%;
  max-width: 100%;
  text-align: left;

}



input[type].edit_profile_input {
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(172, 171, 171) !important;
}

input[type].edit_profile_input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit input+label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
  content: "\ec55";
  font-family: 'IcoFont' !important;
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}