.btn {
    transition: all .5s ease;
}

.btn:hover {
    -webkit-box-shadow: -1px 3px 17px -3px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: -1px 3px 17px -3px rgba(0, 0, 0, 0.81);
    box-shadow: -1px 3px 17px -3px rgba(0, 0, 0, 0.81);
}



#final_product_page {
    margin: 12.5rem 0 5rem 0;
}


.final_product_header h3 {
    color: #000032;
    font-weight: 600;
}

.final_product_login p {
    color: #858482;
    font-weight: 600;
}

.final_product_login p span {
    color: #df4930;
    cursor: pointer;
}

.final_product_login .d-flex.social-btn a.btn {
    width: 8rem;
    border-radius: 0;
    margin-right: .3rem;
}

.final_product_login .d-flex.social-btn a.btn.btn-primary {
    background: #507cc0;
}

.final_product_login .d-flex.social-btn a.btn.btn-danger {
    background: #df4930;
}

.btn.btn-orange {
    width: 12rem;
    background: #ff9a15;
    color: white;
    border-radius: 0;

}

.btn.btn-buy {
    width: 12rem;
    background: #ff9a15;
    color: white;
    border-radius: 5rem;

}

textarea {
    resize: none;
}

textarea.form-control {
    border-radius: 0;
}

textarea::placeholder {
    font-style: italic;
}


.final_product_comments {
    position: relative;
}

.final_product_comments .comment_counts {
    position: relative;
    border-bottom: 1px solid #d6d5d4;

}

.final_product_comments .comment_counts span h6 {
    position: absolute;
    top: -.5rem;
    padding-right: .5rem;
    background: white;
    color: #858482;

}

.comment_none {
    display: none;
}

.comment_card {
    border-bottom: 1px solid #d6d5d4;
    padding-bottom: 1rem;
}

.comment_card .row>div {
    margin-right: .5rem;
}


.comment_card_picture img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.comment_card_content_header h5 {
    color: #1a2b3c;
    font-weight: 500;
}

button.btn.btn-like,
button.btn.btn-report {

    background: transparent;
}

.report {
    color: red;
}

.like {
    color: #f0a30b;
}

button.btn.btn-like,
button.btn.btn-report,
.comment_card_content_body .d-flex p {
    font-size: .7rem;
    color: #858482;
}

.like_report_btn .d-flex {

    position: relative;
    top: -4px;
    right: 0;

}

.comment_card_content_body p {
    font-size: .9rem;
    color: #6b6a69;
}

.comment_see_more {

    margin-bottom: 1rem;
}

.final_product_comments button.btn-see-more {
    margin: 1.25rem;
    background: white;
    color: #6b6a69;
    border-radius: 0;
    border-bottom: 1px solid #d6d5d4;
    padding: 0;
}

/* final product featured list section */
#final_product_products {
    height: 30rem;
    width: 100%;

    border: 1px solid #d6d5d4;
}

#final_product_products .text-left h5 {
    padding-top: .7rem;

    color: #000032;
}

#final_product_products .text-left {
    border-bottom: 1px solid #d6d5d4;
}


.final_product_image {

    border: 1px solid #d6d5d4;
    width: 5rem;
    height: 5rem;
    transition: border .5s ease;

}

.final_product_image img {
    width: auto;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    padding: .5rem;

}

.final_product_info {

    padding-left: .5rem;
    height: 5rem;
    width: 60%;

}

.final_product_info p {
    margin-bottom: 0;
    font-size: .7rem;
}

.final_product_info p.final_product_product_name {
    padding-top: .1rem;
    font-weight: 500;
    color: #000032;
}

.final_product_info p.final_product_product_review {

    color: #6b6a69;
    font-weight: 400;
}

.final_product_product_card .d-flex {
    cursor: pointer;
    transition: all .5s ease;
}

.final_product_product_card .d-flex:hover {
    background: #f7f7f7;

}

.final_product_product_card .d-flex:hover .final_product_image {
    border: 1px solid #f7f7f7;
}

.product_overflow-auto {
    height: 26.5rem;
    overflow: auto;
}

.product_overflow-auto::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.product_overflow-auto::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.product_overflow-auto::-webkit-scrollbar-thumb {
    background: #e4e4e4;
}

/* Handle on hover */
.product_overflow-auto::-webkit-scrollbar-thumb:hover {
    background: rgb(189, 189, 189);
}

/* super reviewes */
#final_product_super_reviews {
    padding: 40px 0;

    position: relative;
}

#final_product_super_reviews:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
}

#final_product_super_reviews h3 {
    color: #000032;
    position: relative;
    z-index: 999;
    margin-bottom: 40px;
    font-weight: 600;
}

#final_product_super_reviews .owl-carousel {
    position: relative;
    z-index: 9999;
}

#final_product_super_reviews .owl-nav .owl-prev,
#final_product_super_reviews .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    font-size: 35px;
    /*background: #353536;*/
    color: #000;
    line-height: 0;
}

#final_product_super_reviews .owl-nav .owl-prev {

    left: -60px;
}

#final_product_super_reviews .owl-nav .owl-next {

    right: -60px;
}

#final_product_super_reviews .owl-nav i {
    font-size: 35px;
    color: #353536;
    transition: color 0.51s;
}

#final_product_super_reviews .owl-nav .owl-prev:hover,
#final_product_super_reviews .owl-nav .owl-prev:focus,
#final_product_super_reviews .owl-nav .owl-next:hover,
#final_product_super_reviews .owl-nav .owl-next:focus {
    outline: 0;
}

#final_product_super_reviews .owl-nav .owl-prev:hover i,
#final_product_super_reviews .owl-nav .owl-prev:focus i,
#final_product_super_reviews .owl-nav .owl-next i,
#final_product_super_reviews .owl-nav .owl-next:hover i,
#final_product_super_reviews .owl-nav .owl-next:focus i {
    color: #ababab;
}



.final-product-super-reviewers {
    width: 100%;

}

.super_reviewer_card {

    height: 15rem;
    width: 21rem;
    max-width: 20rem;
    padding-top: 2rem;
    margin: auto;
}

.super_reviewer_card_inner_div {
    position: absolute;
    height: 12rem;
    width: 19rem;
    padding: .5rem;
    border: 1px solid #d6d5d4;
    -webkit-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.81);
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.81);
    transition: all 1s ease;
    cursor: pointer;
}

.super_reviewer_card_inner_div:hover {
    -webkit-box-shadow: -1px 3px 17px -3px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: -1px 3px 17px -3px rgba(0, 0, 0, 0.81);
    box-shadow: -1px 3px 17px -3px rgba(0, 0, 0, 0.81);

}

.super_reviewer_card .super_reviewer_card_inner_div:first-child {
    margin-left: .5rem;
}




.super_reviewer_card .super_reviewer_card_inner_div div div.top_image img {
    height: 3.5rem;
    width: 3.5rem;
    position: absolute;
    border-radius: 50%;
    top: -16%;
    border: 2px solid #d6d5d4;
    -webkit-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.81);
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.81);

}

.super_reviewer_card .super_reviewer_card_inner_div .d-flex p {
    margin: .3rem;
    color: #595959;
    font-size: .8rem;
}

.super_reviewer_card .super_reviewer_card_inner_div .d-flex h6 {
    color: #000032;
    margin-top: 1.5rem;
    font-weight: 600;
    font-style: italic;

}

.super_reviewer_card .super_reviewer_card_inner_div .d-flex .reviewers_info>* {
    margin-top: 0;
    margin-right: .3rem;
    font-size: .7rem;

}


.reviewers_info ul.reviews li img {
    transform: scale(.8);

}

a.final_product_modal_link {
    color: #858482;
}

/* modal styles */
/* Important part */
#myModal.modal {
    padding-right: 0 !important;
}

.fade {
    z-index: 999999;
}

.modal.show.fade {
    z-index: 9999999;
}

.modal-dialog {
    overflow-y: initial !important;
}

.modal-body {
    max-height: calc(100vh - 25rem);
}

#modal-reviewer-comment {
    max-height: calc(100vh - 30rem);
    overflow: auto;
}

body.modal-open {
    overflow: inherit;
    padding-right: 0 !important;
}

/* modal customizing */
.modal-header {
    border: 0;
    padding: 0;
}

.modal-header button.close {
    padding: 0.5rem;
    margin: 0;
    margin-right: 1rem;
    font-weight: 1000;
}

.modal-header .close i.icofont-close {
    font-size: 1.5rem;
    font-weight: 1000;
}

.modal-footer {
    border: 0;
}

/* modal footer h5 */
.modal-footer .d-flex {
    width: 100%;
}

.modal-footer .d-flex>h5 {
    position: relative;

    color: #555454;
    padding: 0.5rem;
}

.modal-footer .d-flex>span {
    color: #696969;
}

.modal-body {
    padding-top: 0;
}

.modal-body .reviewer-profile div>img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}

.modal-profile-rating p.ratingText {
    margin-left: 0.6rem;
}

.modal-content {
    border: 0;
    border-radius: 0;
}

.modal-super-reviewer-name {
    color: #000032;
    font-size: 1.2rem;
    text-shadow: 1px 0 #000032;
    font-weight: 870;
}

/* stars */

fieldset,
label {
    margin: 0;
    padding: 0;
}

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 5px;
    font-size: 1.5em;
    font-family: "Font Awesome 5 Free";
    font-weight: bolder;
    display: inline-block;
    content: "\f005";
}

.rating>.half:before {
    content: "\f089";
    position: absolute;
}

.rating>label {
    color: #ddd;
    float: right;
}

.rating>input:checked~label,
/* show gold star when clicked */
.rating:not(:checked)>label:hover,
/* hover current star */
.rating:not(:checked)>label:hover~label {
    color: rgba(243, 184, 67, 1);
}

/* hover previous stars in list */

.rating>input:checked+label:hover,
/* hover current star when changing rating */
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
/* lighten current selection */
.rating>input:checked~label:hover~label {
    color: rgba(243, 184, 67, 1);
}

.modal-product-slider .post {
    height: auto;
    width: 11rem;
    border: 0.5px solid #b8b6b6;
    box-shadow: none;
    border-radius: 5px;
    margin: auto;
}

.modal-product-slider .post .feature-image {
    width: 100%;
    height: 120px;
}

.modal-product-slider .post .feature-image img {
    width: auto;
    margin: auto;
    max-width: 70%;
    max-height: 100%;
}

.owl-carousel.modal-product-slider .owl-nav {
    text-align: center;
    font-size: 1.5rem;
    color: #696969;
}

.modal-super-reviewer-full-comment h3 {
    font-style: italic;
}

.header_text p {
    padding: .5rem;
    font-weight: 500;
    color: #858482;
}

.color-orange {
    color: #ff9a15;

}

.color-ash {
    color: #858482;
}

.color-darkblue {
    color: #000032;
}

#product_slider {
    border: 1px solid #d6d5d4;
    margin: 0;
}

#product_slider .row div div.text-left h5 {
    padding-top: .7rem;
    font-size: 1rem;
    color: #000032
}

.product-rating .reviews span.ratingText {
    font-weight: 600;
    padding-left: .3rem;
}

.product-rating .reviews span.ratingText i.icofont-star {
    position: absolute;
    transform: scale(.4)
}

#product_slider p {
    color: #6d6c6c;
    font-size: .9rem;
}

.product_information p.text-uppercase {
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: .5rem;
}

ul.left_side li {
    color: #6d6c6c;
    font-size: .8rem;
    white-space: nowrap;
}

.right_side button.btn {
    width: 8rem;
    margin: .2rem;
    font-size: .7rem;
    font-weight: 500;

}

.btn.btn-ash {
    color: white;
    background: #868686;
    border-radius: 0;
}

.product_descprition p.text-uppercase {
    font-size: 1rem;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: .4rem;
}

i.icofont-square-right::before,
i.icofont-square-left::before {
    color: #616060;
}



.thumb-image li {
    margin-top: 1rem;
    border-radius: .6rem;
    transition: all .5s ease;
}

.thumb-image-li.final_product_image {
    border: 2px solid #d6d5d4;
}

.thumb-image li {
    border-spacing: 2px;
}

.thumb-image li.active {
    border: 2px solid orange;
}

.thumb-main-image img {
    height: 20rem;
    width: 10rem;

}

.thumb-main-image {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    height: 20rem;
    margin: 1rem;


}

.thumb-main-image img {
    width: auto;
    margin: auto;
    max-width: 70%;
    max-height: 100%;
}

a.write_review_modal {
    color: white;
}

/* write review modal */
.write_review_button button.btn {
    position: absolute;
    z-index: 1;
    background: #000032;
    outline: 0;
    border: none;
    border-radius: 0;
}

.write_review_button button.btn:focus {
    box-shadow: none;
}

.modal-content#write_review_modal_content {
    padding: .2rem;
}

.modal-body#write_review_body {
    border-bottom: 1px solid rgb(226, 222, 222);
    overflow: auto !important;
}

.modal-body#write_review_body div>* {
    padding-top: .1rem;
}

.modal-body#write_review_body .d-flex .write_review_picture {
    padding-bottom: 1rem;
}

.write_review>* {
    padding: .7rem;
}


#write_review_modal_content .modal-footer {}

.write_review_form .form-group {
    width: 30rem;
    max-width: 100%;
}

.write_review_form .form-group textarea.form-control {
    width: 100%;
    max-width: 100%;
    text-align: left;

}



input[type].write_review_input {
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(172, 171, 171) !important;
}

input[type].write_review_input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}





.file-input {
    max-height: 90%;
    max-width: 100%;
}