/* .sticky{
    position: -webkit-sticky;
    position:sticky;
    top:12.1rem;
    opacity: 1;
    z-index: 99999;
    background: white;
} */

.padding-right-0{
   padding-right:0rem;
}
.outer-border {
    border: 1px solid rgb(238, 238, 234);
    padding: 0;
}

a:link,
a:visited,
a:hover,
a:active {
    color: white;
}

hr {
    border-top: 2px solid rgba(0, 0, 0, .1);
}

.color-orange {
    color: #ff9a15;
    
}

.big_font_size {
    font-weight: 600;
    color:#000032;
}

.color-ash {
    color: #858482;
}

.header_text {

    margin: 15rem 0 5rem 0;
}

.header_text span {
    padding: .5rem;
    font-weight: 500;
}

/* reviews */
.post {
    margin-bottom: 1rem;
    border-radius: 0;
    box-shadow: none;
    border: 2px solid #dfe0e0;
}

.post:hover {
    background: #edf3fd;
}

.feature-image {
    transition: .5s ease;
}

.post:hover .feature-image {
    opacity: 0.3;
}

.post .details .below h4 {
    color: #000032;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.post:hover .middle {
    opacity: 1;
}

.text {
    background-color: #000032;
    color: rgb(150, 35, 35);
    font-size: 16px;
    padding: 12px 24px;
}

.post .details .right p {
    margin: -18px 18px 0 0;
    float: right;
    color: #858482;
    font-weight: 500;
}

/* category */
.category-products {
    border: 1px solid #F7F7F0;
    margin: .2rem;
    padding-bottom: 20px;
    padding: 1rem;
    background: #edf3fd;
    opacity: 1;
    z-index: 99999;

}

.panel-title a {
    color: #000032;
    font-size: .95rem;
    text-decoration: none;

}

.price-range .panel-title {
    padding-top: 1rem;
    color: #000032;
    font-size: .95rem;
    text-decoration: none;

}

.price-range>*{
    padding-bottom: .5rem;
    margin-left:.6rem;
}

.panel-title a span {
    padding-right: .4rem;
}

.panel-body ul {

    padding: 0 .7rem .7rem .7rem;

}

.panel-default {
    padding: .5rem;
    border-bottom: 1px solid #e0dfdb;
}

.panel-body ul li a {
    
    font-size: .8rem;
    font-weight: 400;
    color: #858482;
    text-align: right;
    padding-left: 1.5rem;
}

.active-blue {
    font-weight: 1000;
    color: #000032;
}

.slider-handle {
    background-color: #fff !important;
    background-image: none !important;
    -webkit-box-shadow: 1px 1px 24px -2px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 1px 1px 24px -2px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 1px 1px 24px -2px rgba(0, 0, 0, 0.75) !important;
}

.slider-wrapper .slider-selection {
    background: #ff9a15 !important;
}

.slider.slider-horizontal {
    position: relative;
    width: calc(100% - 1.5rem) !important;
    height: 20px;
    margin-left: 1rem;

}

/* .tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #bdbdbd !important;
    text-align: center;
    background-color: transparent !important;
    border-radius: 4px;
} */
.slider.slider-horizontal:hover .tooltip.tooltip-main,
.slider.slider-vertical:hover .tooltip.tooltip-main {
    
    opacity: 1 !important;
   
}
.tooltip-inner {
    position: relative;
    left: 20%;
    background-color:#000032 ;
    
}

.slider.slider-horizontal:hover .tooltip.tooltip-main.top .tooltip-arrow:after,
.slider.slider-vertical:hover .tooltip.tooltip-main.top .tooltip-arrow:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 20%;
    bottom: -18%;
    border-style:solid;
    border-width:12px 20px 0 0;
    border-color:#00032f transparent  transparent transparent;
}




.icofont-caret-right {
    transition: all .5s ease;
}

.rotate {
    display: inline-block;
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari 3-8 */
    transform: rotate(90deg);
}
.fill-control-description{
    color: #858482;
    font-size: .9rem;
    font-weight: 500;
    color: #858482;
    text-align: right;
    padding-left: .7rem;
    
}
.starting0{
    position: absolute;
    color: white;
    text-align:center;
    left:3%;
    top:25%;
    border-radius: 10%;
    width:25px;
    height:25px;
    background: #000032;
}
.starting0:after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 20%;
    bottom: -21%;
    border-style:solid;
    border-width:0 20px 8px 0;
    border-color:transparent #0e19b3 transparent transparent;
}
.filter-sort-by-header{
    padding: .5rem .5rem .5rem .5rem;
}
#curved-border{
    font-size :.8rem;
    margin:0;
  
    border : 2px solid #bdbbb9;
    border-radius: 30px 30px 30px 30px;
    white-space: nowrap;
  }
  .custom-select-div{
      margin-top:1rem;
      margin-bottom:1rem;

  }