
/* .sticky{
    position: -webkit-sticky;
    position:sticky;
    top:12.1rem;
    opacity: 1;
    z-index: 99999;
    background: white;
} */
.outer-border{
    border: 1px solid rgb(238, 238, 234);
    padding:0;
}
a:link,
a:visited, 
a:hover, 
a:active{
     color: white;
}

hr{
    border-top: 2px solid rgba(0,0,0,.1);
}
.color_orange {
    color:orange;
}
.big_font_size{
    font-weight: 600;
}
.color_ash{
    color:rgb(179, 174, 174);
}
.header_text{
    
    margin: 15rem 0 5rem  0;
}
.header_text span{
    padding:.5rem; 
    font-weight: 500;
}
/* reviews */
.post{
   margin-bottom:1rem; 
    border-radius: 0;
    box-shadow: none;
    border: 2px solid #dfe0e0;
}

.post:hover{
   background: #edf3fd;
}
.feature-image{
    transition: .5s ease;
  }
.post:hover .feature-image{
    opacity: 0.3;
  }
.post .details .below h4{
    color: #000032;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    cursor: pointer;
  }
  .post:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #000032;
    color: rgb(150, 35, 35);
    font-size: 16px;
    padding: 12px 24px;
  }
  .post .details .right p {
    margin: -18px 18px 0 0;
    float: right;
    color: #3e3e3e;
    font-weight: 1000;
  }
    /* category */
  .category-products {
    border: 1px solid #F7F7F0;
    margin: .2rem;
    padding-bottom: 20px;
    padding: 1rem;
    background: #edf3fd;
    opacity: 1;
    z-index: 99999;
    
  }
  .category-products .panel-default .panel-heading .panel-title a {
    color: orange;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .panel-title a{
    color: orange;
  }
  .panel-title a span{
    padding-right: .4rem;
  }
  .panel-body ul{
   
    padding: 0 .7rem .7rem .7rem;
    
  }
  .panel-default{
      border-bottom: 1px solid #e0dfdb;
  }
  .panel-body ul li a {
    color: #858482;
    font-size: .7rem;
    font-weight: 500;
    color: #858482;
    text-align: right;
    padding-left: 1.5rem;
  }
  .active-blue{
      font-weight: 1000;
      color: #000032;
  }
  