/* Only Desktop Layout. 991px */
@media only screen and (min-width: 991px) {
  #mainMenu ul li:hover .dropdown-menu {
    display: block;
    z-index: 9000;
  }

  #mainMenu ul li.dropdown:hover:after {
    content: "";
    height: 25px;
    width: 25px;
    background-color: #b1b1b1;
    position: absolute;
    bottom: -20px;
    left: 35px;
    transform: rotate(45deg);
    z-index: 1;
  }
}

/* Medium Layout: 1199px. */

@media only screen and (max-width: 1199px) {
  #mainMenu ul li a {
    font-size: 14px;
  }
}

/* Only For Tablet Layout 1024px. */
@media only screen and (max-width: 1024px) {
  #slider2 {
    position: relative;
  }

  #slider2 .carousel-item {
    max-height: 600px;
  }

  #slider2 .caption h1 {
    font-size: 50px;
  }

  #slider2 .banner-text {
    top: 0;
  }

  #slider2 .pages-nav {
    margin: 30px 0 0 0;
  }

  #slider2 .caption h1 {
    font-size: 40px;
    line-height: 55px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /******* Popular Products*******/
  #popularProducts iframe {
    height: 600px;
  }
}

/* Tablet Layout & All small device : 991px. */
@media only screen and (max-width: 991px) {

  /*************/
  #mainMenu {
    padding: 5px 0;
    background-color: white;
    box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.2);
  }

  #mainMenu ul li:hover a,
  #mainMenu ul li.show a,
  #mainMenu ul li.active a {
    border-bottom: none;
  }

  #mainMenu ul li .dropdown-menu {
    padding: 5px 0;
    margin: 5px 0 0 12px;
    background-color: #f3f9fe;
  }

  #mainMenu ul {
    padding: 15px 0;
  }

  #mainMenu ul li.dropdown.show:after {
    display: none;
  }

  #mainMenu ul li .dropdown-menu,
  #mainMenu ul li .dropdown-menu .dropdown-item {
    border: none;
  }

  #mainMenu ul li {
    text-align: center;
  }

  #mainMenu ul li .dropdown-menu .dropdown-item:hover,
  ul li .dropdown-menu .dropdown-item:focus,
  #mainMenu ul li .dropdown-menu .dropdown-item.active,
  ul li .dropdown-menu .dropdown-item:active {
    color: #000032;
    font-weight: 600;
  }

  /***Slider***/
  #slider .carousel-inner .carousel-item {
    height: calc(100vh - 400px);
  }

  #slider .caption h1 {
    font-size: 35px;
    line-height: 52px;
  }

  #slider .caption h3 {
    font-size: 25px;
  }

  #slider .carousel-indicators {
    display: block;
  }

  #slider .carousel-indicators li {
    display: inline-block;
  }

  #mainMenu ul li a {
    margin: 0;
  }

  #mainMenu ul li a.nav-link {
    padding: 0;
  }

  #mainMenu ul li {
    flex: 1;
    text-align: center;
    padding: 7px 0 7px 0;
  }

  /***Slider2***/
  #slider .carousel-inner .carousel-item {
    height: calc(100vh - 400px);
  }

  #slider2 .caption h1 {
    font-size: 35px;
    line-height: 52px;
  }

  #slider2 .caption h3 {
    font-size: 25px;
  }

  #slider2 .carousel-indicators {
    display: block;
  }

  #slider2 .carousel-indicators li {
    display: inline-block;
  }

  /*******heights rate *****/
  #highestProducts .sub-products .post {
    margin-top: 30px;
  }

  #highestProducts .big-feature-images .post .feature-image {
    height: 350px;
  }

  /*******Super reviews**********/
  .reviewer .below a {
    margin: -6px 0 0 0;
  }

  .lg-display-none {
    display: none;
    visibility: hidden;
  }

  #mainMenu ul li a {
    color: #000032;
    text-align: center;
  }

  /* modal card */
  .modal-dialogue {
    overflow-y: auto !important;
  }

  .modal-content {
    overflow-y: auto !important;
  }

  .modal-body {
    max-height: calc(100vh - 15rem);
    overflow: auto;
  }

  #modal-reviewer-comment {
    max-height: calc(100vh - 20rem);
    overflow: inherit;
  }

  .owl-carousel.modal-product-slider {
    display: none;
    visibility: hidden;
  }

  #final_product_products {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (max-height: 991px) {
  #sign-up {
    overflow-y: hidden;
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  #slider .carousel-indicators li {
    height: 100px;
  }

  /***** SLIDER2 *****/
  #slider2 .carousel-indicators li {
    height: 100px;
  }

  #slider2 .caption {
    padding-top: 5%;
  }

  /**** iframe facebook adds style  ****/
  #popularProducts iframe,
  #highestProducts iframe {
    padding-left: 5px;
    padding-top: 20px;
  }

  .md-display-none {
    display: none;
    visibility: hidden;
  }
}

/* Wide Mobile Layout: 480px. */
@media only screen and (max-width: 575px) {
  .product-listing-navigation .container .row> :first-child {
    margin-bottom: 1rem;
  }

  /*****Top Bar******/
  .top-bar {
    padding: 15px 0;
  }

  /******main Menu *****/
  .navbar-brand img {
    height: 50px;
    margin-bottom: 10px;
  }

  #mainMenu .navbar-toggler {
    margin-left: 25px;
  }

  #slider2 .banner-text {
    top: 30px;
  }

  /****** slider*****/
  #slider .carousel-inner .carousel-item {
    height: calc(100vh - 500px);
  }

  #slider .caption h1 {
    font-size: 25px;
    line-height: 29px;
  }

  #slider .caption h3 {
    font-size: 18px;
  }

  /****** slider*****/
  #slider2 .carousel-inner .carousel-item {
    height: calc(100vh - 500px);
  }

  #slider2 .caption h1 {
    font-size: 25px;
    line-height: 29px;
  }

  #slider2 .caption h3 {
    font-size: 18px;
  }

  #slider2 .caption {
    padding-top: 0;
  }

  #slider2 .pages-nav li {
    height: 65px;
  }

  /**** iframe facebook adds style  ****/
  #popularProducts iframe,
  #highestProducts iframe {
    padding-left: 5px;
  }

  /* sign-upform */
  .login-form form {
    padding: 0;
    margin: 0;
  }

  .login-secnd-form form {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
  }

  .login-secnd-form form>* {
    margin: 2rem;
  }

  .login-secnd-form form .social-btn>* {
    margin: 0;
  }

  .sign-up-form {
    display: none;
    padding: 2rem;
    margin: 0;
    height: 40rem;
  }

  .sign-up-form .container-fluid {
    padding: 0;
    margin: 0;
    height: 40rem;
  }

  .sign-up-div>* {
    padding: 2rem;
  }

  .log-in-button-background-color {
    background-color: #f9b41f;
    color: rgba(0, 11, 62, 0.9);
    border-radius: 0px;
    width: 5rem;
  }

  .login-secnd-form form {
    padding: 0;
  }

  .sm-display-none {
    display: none;
    visibility: hidden;
  }

  .edit_profile_form .form-group {

    width: 23rem;
  }

  .write_review_form .form-group {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 360px) {
  #slider2 .pages-nav li {
    height: 48px;
  }

  .sign-up-div>* {
    padding: 0;
    margin-left: 0;
  }

  .container-fluid {
    padding: 0;
    margin: 0;
  }

  .edit_profile_form .form-group {

    width: 18rem;

  }
}

@media only screen and (max-height: 680px) {
  .owl-carousel.modal-product-slider {
    display: none;
    visibility: hidden;
  }

  .modal-body {
    max-height: calc(100vh - 15rem);
    overflow: auto;
  }

  #modal-reviewer-comment {
    max-height: calc(100vh - 10rem);
    overflow: inherit;
  }
}

@media only screen and (max-width: 465px) {
  .super_reviewer_card {

    height: 18rem;
    width: 15rem;
    max-width: 20rem;
    padding-top: 2rem;
    margin: auto;
  }

  .super_reviewer_card_inner_div {

    height: 15rem;
    width: 13rem;


  }

  .super_reviewer_card .super_reviewer_card_inner_div div div.top_image img {
    height: 3rem;
    width: 3rem;
    top: -13%;
  }
}

@media only screen and (max-width: 386px) {
  .super_reviewer_card {

    height: 20rem;
    width: 15rem;
    max-width: 20rem;
    padding-top: 2rem;
    margin: auto;
  }

  .super_reviewer_card_inner_div {

    height: 17rem;
    width: 10rem;
  }

}